.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  height: 3rem;
  border-bottom: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  z-index: 1000;
}

.quickmove-logo {
  width: 150px;
}

.burger-menu {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 1rem;
}

.burger-menu-line {
  width: 100%;
  height: 2px;
  background-color: black;
}

.navbar-links {
  list-style: none;
  position: absolute;
  top: calc(100% - 15px);
  left: 0;
  background-color: white;
  border-bottom: 1px solid grey;
  padding: 0 1rem;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  opacity: 0;
  pointer-events: none;
  transform: translateX(-100%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.navbar-links a {
  text-decoration: none;
  color: black;
}

.navbar-links.open {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
  height: 100vh;
}

.navbar-subheading {
  font-weight: bold;
  color: #010433;
  margin-bottom: 0.2rem;
}

.navbar-links-item {
  cursor: pointer;
  padding: 0.5rem 0;
  text-align: left;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
}

.navbar-links-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 1rem;
}

.quickmove-logo-small {
  width: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.signin-color-block {
  background-color: #010433;
  height: 70px;
  width: calc(100% + 2rem);
  position: relative;
  left: -1rem;
  top: -2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: white;
}

.close-menu {
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  right: 10px;
  top: 10px;
  background: none;
  border: none;
  padding: 0;
  outline: none;
}

.loginIcon {
  height: 20px;
  width: 20px;
  object-fit: contain;
  color: white;
}
